/* الخطوط */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600&family=Noto+Kufi+Arabic:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
 }

 .about-sec {
    padding-top: 15px;
    display: flex;
    align-items: center;
 }

 .about-text {
    transition: .40s ease-in-out;
    margin-right: 10%;
    animation: refresh 0.5s;
    text-align: right;
 }
 @keyframes refresh {
    from {
        transform: translateX(50%);
    }
    to { 
        transform: translateX(0%);
        
    }
  }

  .about-p1 {
    color: #186cfde5;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -3%;
  }

  .about-text h1 {
    color: #1e1e1e;
    font-size: 45px;
  }
  .about-p {
    color: rgb(131, 121, 121);
    font-size: 21px;
    font-weight: 500;
  }

 .about-img {
    width:40%;
    margin-left: 5%;
    margin-right: auto;
 }

 .dev-btn {
    display: flex;
    justify-content: center;
    padding: 10px 35px 10px 35px;
    color: white;
    background-color: #186DFD;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    transition: .20s ease-in-out;
 }

 .dev-btn:hover {
    background-color: #1b5fd3;
    color: whitesmoke;
 }

 .developers {
    margin-top: 10%;
 }
 .dev-p {
    color: #186DFD;
    font-size: x-large;
    font-weight: 600;
 }
 
 .dev-h1 {
    font-size: xx-large;
    font-weight: 600;
 }

 
.dev-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}
    
.dev-card {
 width: 21%;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
 transition: .20s ease-in-out;
 border-radius: 10px;
 text-align: center;
}

.dev-card:hover {
    transform: translateY(-1%);
}

.dev-title {
 text-align: center;
}
 #saud {
   height:37vw;
   margin-top: -10PX;
}

 #saud h1 {
    margin-top: 5%;
    color: #1e1e1e;
    font-size: xx-large;
 }

 #saud p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
 }

 #fahad {
    height:37vw;
 }

 #fahad h1 {
    margin-top: 5%;
    color: #1e1e1e;
    font-size: xx-large;
 }

 #fahad p {
    font-size: 21px;
    font-weight: 600;
    margin-top: 5%;
 }

 #abdullah {
   height:37vw;
}

#abdullah h1 {
   margin-top: 5%;
   color: #1e1e1e;
   font-size: xx-large;
}

#abdullah p {
   font-size: 20px;
   font-weight: 600;
   margin-top: 5%;
}

 .img-box1 {
    width: 100%;
    height: 13vw;
    margin-bottom: 15%;
    background-image: url('/img/SAUD.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    background-position: center; 
 }

 .img-box2 {
    width: 100%;
    height: 13vw;
    margin-bottom: 15%;
    background-image: url('/img/fahad-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    background-position: center; 
 }

 .img-box3 {
   width: 100%;
   height: 13vw;
   margin-bottom: 15%;
   background-image: url('/img/abdullah.png');
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px 10px 0px 0px;
   background-position: center; 
}


 .social-dev {
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 5%;
 }

#dev-icon {
    font-size: 40px;
    color: #401492;
    transition: .25s ease-in-out;
}

#dev-icon:hover {
    color: #36117b;
}

#dev1-icon {
    font-size: 40px;
    color: #34c48c;
    transition: .25s ease-in-out;
}

#dev1-icon:hover {
    color: #158459;
}

#dev2-icon {
   font-size: 40px;
   color: #7034f4;
   transition: .25s ease-in-out;
}

#dev2-icon:hover {
   color: #602ad4;
}
