/* الخطوط */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600&family=Noto+Kufi+Arabic:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

body {
   background-color: whitesmoke;
   font-family: 'IBM Plex Sans Arabic', sans-serif;
}


.title-container{
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
    padding: 25px;
    margin-top: 3%;
} 

.steps-title {
    text-align: center;
}

.steps-title p {
    color: #1b5fd3;
    font-size: large;
    font-weight: 500;
}

.steps-title h1 {
    color: #1e1e1e;
    margin-bottom: 3%;
}

.steps-line {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line-1 {
    background-image: url('/img/check-circle.png');
    display: flex;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: right 35px center;
}
.steps-img{
    margin-top: 5px;
}
.question{
    margin: auto;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 0px 0px 10px 10px;
    padding: 25px;
}
.left{
    width: 350px;
    padding: 0;
}
.contect{
    margin: 20px;
     text-align: start;
}
.contect p{
    color: rgb(131, 121, 121);
}
.contect h1{
    font-weight: 600;
    font-size: xx-large;
    color: #186bfb;
}
.contect h6{
    color: darkcyan;
    font-size: large;
}
.right input , .right textarea{
    min-width: 300px;
    min-height: 30px;
    max-width: 350px;
    max-height: 120px;
    height: 40px;
    margin-bottom: 5%;
    border-radius: 8px;
    border: 2px solid #CCCCCC;
}

label {
    margin-bottom: 100px;
}

.right a{
    display: block;
    background-color: #186bfb;
    text-align: center;
    width: 300px;
    height: 40px;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: larger;
}
.right input , textarea{
    padding: 5px;
}
.steps{
    box-shadow: rgba(86, 86, 94, 0.2) 0px 7px 29px 0px;
    margin: auto;
    width: 50%;
    border-radius: 8px;
}