/* الخطوط */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600&family=Noto+Kufi+Arabic:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,400;0,600;0,700;1,500&display=swap');

:root {
   --main-color:#186DFD;
   --sec-color:#1b5fd3;
   --title-color:#1e1e1e;
}


* {
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

body {
   background-color: whitesmoke;
   font-family: 'IBM Plex Sans Arabic', sans-serif;
}
nav{
   display: flex;
   height: 7.7vw;
   margin-top: -15px;
   width: 100%;
   justify-content: center ;
   background-color: white;
   align-items: center;
   gap: 2%;
   box-shadow: rgba(77, 77, 84, 0.066) 0px 7px 29px 0px;
}

.nav-links {
   text-decoration: none;
   font-weight: 500;
   color: var(--title-color);
   font-size: 22px;
   transition: .20s ease-in-out;
   margin-right: 10px;
}

.nav-links:hover {
   color: var(--main-color);
}

.logo {
   margin-left: 3%;
   margin-top: 0.5%;
}
.nav-button{
   padding: 6px 35px 6px 35px;
   border-radius: 1px;
   color: #ffffff;
   font-size: larger;
   transition: .25s ease-in-out;
}

.lang {
   padding: 10px 12.5px 10px 12px;
   color: var(--main-color);
   background-color: whitesmoke;
   border-radius: 50%;
   font-size: 20px;
   transition: .25s ease-in-out;
   margin: 0 10px;
   border: 2px solid var(--main-color);
}

.lang:hover {
   color: white;
   background-color: var(--main-color);
}

.sign-btn {
   padding: 8px 35px 8px 35px;
   font-size: 19px;
   font-weight: 500;
   background-color: var(--main-color);
   color: white;
   border-radius: 8px;
   transition: .25s ease-in-out;
}

.sign-btn:hover {
   background-color: var(--sec-color);
   color: whitesmoke;
}

.line {
   padding: 1px 100px;
   background-color: rgba(131, 121, 121, 0.562);
   border-radius: 10px;
   margin: 10px auto;
   width: 100px;
}


footer{
   background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 20%;
   border-radius: 15px 15px 0px 0px;
   border-bottom: 1.6px solid #d2d2d6;
}
footer p{
   color: #91909d;
   font-size: 18px;
   font-weight: 800;
}
footer a{
   color: #91909d;
   width: fit-content;
}

footer h1 {
   font-size: x-large;
}
.first{
   text-align: start;
   height: 400px;
   width: 400px;
}

.second{
   margin: 100px 10px 0 10px;
   display: flex;
   flex-direction: column;
   font-size: larger;
}
.second a{
   margin-top: 10px;
}
.logoer{
   margin-top: 5%;
   margin-bottom: -60px;
   margin-left: -22px;
}
footer a{
   font-weight: 900;
   transition: .20s ease-in-out;
}
footer a:hover{
   color: #186bfb;
}

.social {
   display: flex;
   justify-content: center;
}

.social-icons {
   margin: 15px 0;
   text-align: center;
   font-size: 25px;
   color: #9f9ea9;
   margin-bottom: 10px;
}

#social-icons {
   color: #9f9ea9;
   border: 1.8px solid #9f9ea9;
   padding: 8px 8.8px;
   border-radius: 50%;
   text-align: center;
   transition: .20s ease-in;
}

#social-icons:hover {
   color: white;
   border: 1.8px solid #186bfb;
   background-color: #186bfb;
}

