/* الخطوط */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600&family=Noto+Kufi+Arabic:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

body {
   background-color: whitesmoke;
   font-family: 'IBM Plex Sans Arabic', sans-serif;
}
nav{
   display: flex;
   height: 7.7vw;
   margin-top: -15px;
   width: 100%;
   justify-content: center;
   background-color: white;
   align-items: center;
   gap: 2%;
   box-shadow: rgba(77, 77, 84, 0.066) 0px 7px 29px 0px;
}
.nav-links {
   text-decoration: none;
   font-weight: 500;
   color: #1e1e1e;
   font-size: 22px;
   transition: .20s ease-in-out;
}

.nav-links:hover {
   color: #186DFD;
}

.logo {
   margin-left: 3%;
   margin-top: 0.5%;
}
.nav-button{
   padding: 6px 35px 6px 35px;
   border-radius: 8px;
   color: #ffffff;
   font-size: larger;
   transition: .25s ease-in-out;
}

.lang {
   padding: 10px 12.5px 10px 12px;
   color: #186DFD;
   background-color: whitesmoke;
   border-radius: 50%;
   font-size: 20px;
   transition: .25s ease-in-out;
}

.lang:hover {
   color: white;
   background-color: #186DFD;
}

.sign-btn {
   padding: 8px 35px 8px 35px;
   font-size: 19px;
   font-weight: 500;
   background-color: #186DFD;
   color: white;
   border-radius: 8px;
   transition: .25s ease-in-out;
}

.sign-btn:hover {
   background-color: #1b5fd3;
   color: whitesmoke;
}

.main {
   display: flex;
   align-items: center;
   background-color: whitesmoke;
}

.main-text {
   margin-right: 10%;
}

.left-img {
   width: 600px;
   height: 600px;
   margin-right: auto;
}

.main-p {
   border-radius: 10px;
   padding: 8px 0;
   width: 55%;
   text-align: center;
   background-color: #186cfde5;
   color: white;
   font-size: 15px;
}

.main-p2 {
   color: rgb(131, 121, 121);
   font-size: 20px;
   font-weight: 500;
}

.main-h1 {
   color: #1e1e1e;
   font-size: 30px;
   margin-bottom: 5%;
}

.main-btn1 {
   padding: 10px 40px 10px 40px;
   background-color: #186DFD;
   color: white;
   border-radius: 10px;
   font-size: 18px;
   transition: .20s ease-in-out;
}

.main-btn1:hover {
   background-color: #1b5fd3;
}

.main-btn2 {
   padding: 8px 38px 8px 38px;
   border: 2px solid #186DFD;
   color: #186DFD;
   border-radius: 10px;
   font-size: 18px;
   transition: .20s ease-in-out;
}

.main-btn2:hover {
   background-color: #186DFD;
   color: white;
}

.main-btns {
   margin-top: 8%;
}

/* خدماتنا */

.services {
   width: 100%;
   text-align: center;
   margin-top: 15%;
   background-color: whitesmoke;
}

.service-p {
   color: #186DFD;
   font-size: 20px;
   font-weight: 500;
   margin-top: 15px;
}
.service-h1 {
   color: #1e1e1e;
}