/* الخطوط */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600&family=Noto+Kufi+Arabic:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
   scroll-behavior: smooth;
   box-sizing: border-box;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

body {
   background-color: #ffffff;
   font-family: 'Rubik','IBM Plex Sans Arabic', sans-serif;
}
nav{
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 2%;
   border: solid;
}
nav a{
   text-decoration: none;
   color: black;
}
nav .nav-button{
   padding: 6px 35px 6px 35px;
   border-radius: 8px;
   background-color: #186DFD;
   color: #ffffff;
   font-size: larger;
   margin-right: auto;
   margin-left: 10%;
}


